rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // User profile images
    match /profiles/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Project attachments and files
    match /projects/{projectId}/{allPaths=**} {
      allow read, write: if request.auth != null;
    }

    // Portfolio and Application media
    match /applications/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Public Assets
    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
